.button-component {
    background-color: rgb(3, 169, 234);
    color: white;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}