.naviation-button-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: rgb(3, 169, 234);
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 5px;
    color: white;
}